    {% extends 'base.html.twig' %}

    {% block title %}home{% endblock %}

{% block body %}
{{ render(controller('App\\Controller\\CardSessionController::index')) }}
    <div class="container">
        <div class="payment_details">
            <h1>Payment Information</h1>
            <div class="details_card">
            <div class="name_address">
                <div class="first_lastName">
                    <input type="text" placeholder="First Name" />
                    <input type="text" placeholder="Last Name" />
                </div>
                <div class="address">
                    <input type="text" onkeyup="change()" id="put" placeholder="Address" />
                    <input type="number" placeholder="Pincode" />
                    <input type="text" placeholder="Country" />
                </div>
            </div>
            <h1>Shipping Details</h1>
            <div class="shipping_card">
                <div class="new_card">
                    <h4>Same as personal</h4>
                    <p id="output">Bharat House Bombay Samachar Road</p>
                    <p>400001</p>
                </div>
                <div class="add_savedcard">
                    <h4>Saved Address</h4>
                    <p>Lokhandwala Complex, Andheri (west)</p>
                    <p>400053</p>
                </div>
            </div>
            <div class="proced_payment">
                <a href="">Procced to payment</a>
            </div>
        </div>
    </div>
    {% endblock %}
