<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" role="button">
            <button onclick="openNav()" class="btn position top-1 translate-middle badge rounded-pill bg-success" type="button" style="cursor:pointer; border: 0cap; margin-top: 10px;">
              3          
              <span class="badge rounded-pill text-bg-light">
                <i class="bi bi-cart-check" style="font-size: 1.7rem; color: rgb(204, 108, 233);"></i>
              </span>
            </button>            
          </a>
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
              <span class="badge rounded-pill text-bg-danger">
                <i class="bi bi-cart-x" style="font-size: 1.5rem; color: rgb(241, 240, 247);"></i>
              </span>
            </a>
            <!-- Offcanvas card  { include('card_session/card.html.twig',{datapanier}} ) }}-->
        {% include "card_session/card.html.twig" %} 
        {{ render(controller('App\\Controller\\CardSessionController::index')) }}
            <!-- Fin Card -->
          </div>
        </li>
        <li class="nav-item">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </li>
        {% if app.user %}
          <li class="nav-item">
              <a class="nav-link" href="#">Compte</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href={{ path('app_logout') }}>Deconnexion</a>
          </li>
        {% else %}
           <li class="nav-item">
              <a class="nav-link" href={{ path('app_login') }}>Connexion</a>
            </li>
        {% endif %}
          </ul>
      </div>
    </div>
  </div>
</nav>
